@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
:root {
  --background: #ecf2fa;
  --primary: #498dd8;
  --dark: #1d1d20;
}
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--background);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

